# EDA (Exploratory Data Analysis) llamadas 123 julio 2022

In [1]:
# importar librerias de manipulacion de datos
import numpy as np 
import pandas as pd

# importar librerias del sistema
import os
from pathlib import Path

In [2]:
root_dir = Path(".").resolve().parent
print(root_dir)

C:\Users\jhonc\OneDrive\Documentos\ESEIT\Herramientas para big data

In [3]:
filename = "llamadas123_julio_2022.csv"
data_dir = "raw"

file_path = os.path.join(root_dir, "data", data_dir, filename)
print(file_path)

C:\Users\jhonc\OneDrive\Documentos\ESEIT\Herramientas para big data\data\raw\llamadas123_julio_2022.csv

In [4]:
data = pd.read_csv(file_path, encoding= "latin-1", sep = ";")

In [5]:
data.head(3)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24

In [24]:
data.shape #retorna una tupla con las dimensiones de la tabla: (n_rows, n_cols)

(13055, 11)

In [26]:
data.dtypes #muestra el tipo de datos de la tabla

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [30]:
#Estraer los valores unicos de una columna

col = "GENERO"
data[col].unique()

array(['FEMENINO', 'MASCULINO', 'SIN_DATO'], dtype=object)

In [44]:
for columnas in data.columns:
    valores_unicos = data[columnas].unique()
    n_valores = len(valores_unicos)
    print(columnas, n_valores)

NUMERO_INCIDENTE 12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
CODIGO_LOCALIDAD 20
LOCALIDAD 20
EDAD 100
UNIDAD 6
GENERO 3
RED 5
TIPO_INCIDENTE 21
PRIORIDAD 4
RECEPCION 5235

In [46]:
dict_resumen = dict()

for columnas in data.columns:
    valores_unicos = data[columnas].unique()
    n_valores = len(valores_unicos)
    #print(columnas, n_valores)
    dict_resumen[columnas] = n_valores

In [56]:
df_resumen = pd.DataFrame.from_dict(dict_resumen, orient = "index")
df_resumen.rename({0: "count"}, axis = 1, inplace = True)
df_resumen

                                   count
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [1]:
out_name = "resumen3_" + filename
out_path = os.path.join(root_dir, "data", "processed", out_name)
df_resumen.to_csv(out_path)

NameError: name 'filename' is not defined